 *{
    margin: 0;
}

header{
    position: fixed;
    width: 100%;
    background-color: white;
    height: 70px;
}

h1{
    text-align: center;
    color: black;
}


body{
    height: 2000px;
    background-color: rgb(119, 119, 119);
}

nav{
    text-align: center;
}

a{
    margin-left: 20px;
    text-decoration: none;
    color: black;
}

.container{
    width: 100%;
    height: auto;
    background-color: rgb(61, 47, 255);
    margin-top: 100px;
    margin-top: 100px;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-flow: wrap;
}

.box{
    width: 20%;
    height: 300px;
    background-color: darkgoldenrod;
    margin: 20px;
    box-sizing: border-box;
    font-size: 50px;
}

div#box1{
    background-image: url(imagens/img4pequena.jpeg);
}

div#box2{
    background-image: url(imagens/img3P.jpeg);
}

@media screen and (max-width: 1220px){
    .box{
        width: 40%;
    }
}

@media screen and (max-width: 600px){
    .box{
        width: 90%;
    }
}